<div class="navbar navbar-inverse {% if fixed %}navbar-fixed-top{% endif %}">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'homepage' %}">Foreverland</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'upcoming_shows' %}">Shows</a></li>
                <li><a href="{% url 'video' %}">Videos</a></li>
                <li><a href="{% url 'photos' %}">Photos</a></li>
                <li><a href="{% url 'list_songs' %}">Songs</a></li>
                <li><a href="{% url 'faq' %}">FAQ</a></li>
                <li><a href="{% url 'quotes' %}">Quotes</a></li>
                <li><a href="{% url 'booking' %}">Booking</a></li>
            </ul>
        </div>
    </div>
</div>