<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="fill">
            <div class="container">
                <!-- Expander icon for small screens -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="brand" href="{% url 'homepage' %}">Django Base Project</a>
                <div class="nav-collapse">
                    <ul class="nav">
                        <li><a href="{% url 'examples' %}">Examples</a></li>
                    </ul>
                    <ul class="nav secondary-nav pull-right">
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url 'profile_page' request.user.username %}">{{ request.user.username }}</a></li>
                            <li><a href="{% url 'auth_logout' %}">Log out</a></li>
                        {% else %}
                            <li><a href="{% url 'registration_register' %}">Sign up</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" class="dropdown-toggle">Login <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a data-toggle="modal" data-target="#login_modal" href="{% url 'auth_login_modal' %}" id="login_link" >Login with username</a>
                                    </li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
