<div class="quote">
	<h4>Testimonials</h4>
	<p>&ldquo;{{ random_quote }}&rdquo;</p>
	<a href="{% url 'quotes' %}">Read More</a>
</div>
<div class="fb">
	<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FForeverlandSF&colorscheme=dark&show_faces=true&header=true&stream=true&show_border=false&appId=247646052052822" scrolling="no" frameborder="0" style="border:none;" width="100%" height="360"></iframe>
</div>
<div class="tw">
	<a class="twitter-timeline" href="https://twitter.com/ForeverlandBand" data-widget-id="385831208401137664">Tweets by @ForeverlandBand</a>
</div>