*.pyc
*.DS_Store
*~
*.db
static/global/*
staticserve/
pip-log.txt
uploads/*
dl/*
dump-*.sql
graphed_models.png
settings/local.py
docs/build
logs/*
graphed_models/*
node_modules

/settings/prod.py

/settings/staging.py
