h1, h2, h3, h4, h5, h6 {
	font-family:@optimus-font-family;
	.heading-text-shadow;
	small {
		font-family: @font-family-sans-serif;
		vertical-align:middle;
	}
}
h3, h4, h5, h6 {
	font-family: @font-family-sans-serif;
	font-weight:700;
}

body {
	.text-shadow;
}
a {
	.transition(color .1s linear);
	&:hover {
		text-decoration: none;
	}
}
.navbar > .container .navbar-brand {
	margin-left:0;
}
.flexslider {
	border:none;
}
