{% extends 'base_setter.html' %}
{% load custom_tags %}

{% block content %}
<style type="text/css">
#listmaker .songlist {
  background:#f2f2f2;
  list-style-type:none;
  margin:0;
  padding:1px 0;
}
#listmaker .songlist.empty {
  height:42px;
}
#listmaker .songlist li {
  cursor: move;
  margin:5px;
  background:white;
  border:1px solid #999;
  padding:5px;
}
#listmaker .songlist li.ph {
  height:32px;
  border:1px dotted #ccc;
  background:#f6f6f6;
}
#listmaker .ui-sortable-helper {
  box-shadow:2px 2px 6px rgba(0,0,0,.15);
}
.allsongs {
  height:480px;
  overflow:auto;
}
.allsongs.affix {
  top:70px;
}
.modellog {
  height:1000px;
  background-color:#f2f2f2;
}
</style>
<div class="page-header">
    <h2>Test</h2>
</div>
{% verbatim %}
<div id="listmaker" ng-app="sortableApp" ng-controller="sortableController">
  <div class="row">
    <div class="col-sm-4">
      <div class="allsongs">
        <ul class="songlist" ui-sortable="sortableOptionsList[0]" ng-model="listData[0]">
          <li ng-repeat="app in listData[0]">{{app.title}}</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <ul class="songlist setlist" ng-class="{empty: listData[1].length === 0}" ui-sortable="sortableOptionsList[1]" ng-model="listData[1]">
        <li ng-repeat="app in listData[1]">{{$index}} {{app.title}}</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default" ng-click="logModels()">Save</button>
        <h3>Log:</h3>
        <ul class="modellog">
          <li ng-repeat="entry in sortingLog">
            {{ entry }}
          </li>
        </ul>
    </div>
  </div>
</div>
{% endverbatim %}
{% endblock %}
{% block js %}
<script src="{{ STATIC_URL }}global/js/apps/setter.js"></script>
{% endblock %}
