{% extends 'base_fidouche.html' %}
{% load custom_tags %}

{% block content %}
<div class="page-header">
	<h4>Gig Financials</h4>
	<h2>{{ gig }}</h2>
</div>
<form method="post" action="{{ request.path }}" role="form" id="gig_finances">{% csrf_token %}
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<fieldset>
				<legend>Payment</legend>
				<div class="form-group factor">
					<label for="gross" class="control-label">Gross</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.gross }}
					</div>
				</div>
				<div class="form-horizontal">
					<div class="form-group payment-method">
						<label for="gross_method" class="control-label col-md-4">Payment method</label>
						<div class="col-md-8">
							{{ form.gross_method }}
							<div id="payment_check_no" class="form-inline"{% if gig.gross_method != 'check' %} style="display:none;"{% endif %}>
								<label for="id_payee_check_no" class="control-label">Check #</label>
									{{ form.payee_check_no }}
							</div>
						</div>
					</div>
					<div class="form-group set-payer">
						<label for="id_payer" class="control-label col-md-4">Paid by</label>
						<div class="col-md-8">
							{{ form.payer }}
							<div id="commission_withheld" class="form-inline"{% if gig.payer != 'DS' %}style="display:none;"{% endif %}>
								<div class="checkbox">
									<label>{{ form.commission_withheld }} Commission withheld</label>
								</div>
							</div>
						</div>
					</div>
					<div id="commission_check" class="form-group"{% if gig.commission_withheld %} style="display:none;"{% endif %}>
						<label for="id_commission_check_no" class="control-label col-md-4">Comm. check #</label>
						<div class="col-md-8">
							{{ form.commission_check_no }}
						</div>
					</div>
					<div class="form-group set-commission">
						<label for="commission_percentage" class="control-label col-md-4">Commission %</label>
						<div class="col-md-8">
							<select id="commission_percentage" class="form-control">
								<option value="10" selected="selected">10%</option>
								<option value="15">15%</option>
								<option value="other">other</option>
							</select>
							<div id="commission_other" class="factor" style="display:none;">
								<div class="input-group">
									<input type="text" id="commission_percentage_other" class="form-control">
									<span class="input-group-addon">%</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group factor">
					<label for="commission" class="control-label">Commission</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.commission }}
					</div>
				</div>
				<div class="form-group factor">
					<label for="sound_cost" class="control-label">Sound and production costs</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.sound_cost }}
					</div>
				</div>
				<div class="form-group factor">
					<label for="in_ears_cost" class="control-label">In-ears cost</label>
					{{ form.in_ears_cost }}
				</div>
			</fieldset>
			<fieldset class="expenses-summed">
				<legend class="with-btn">Expenses <button id="itemize-toggle" data-toggle="button" class="btn btn-sm btn-success"><i class="fa fa-list"></i> Itemize Expenses</button></legend>
				{{ form.costs_itemized.as_hidden }}
				<div class="form-group factor">
					<label for="print_ship_cost" class="control-label">Printing &amp; shipping costs</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.print_ship_cost }}
					</div>
				</div>
				<div class="form-group factor">
					<label for="ads_cost" class="control-label">Ads costs</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.ads_cost }}
					</div>
				</div>
				<div class="form-group factor">
					<label for="other_cost" class="control-label">Other costs</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.other_cost }}
					</div>
				</div>
			</fieldset>
		</div>
		<div class="col-md-6 col-sm-6">
			<fieldset>
				<div class="form-group">
					<label for="id_attendance" class="control-label">Attendance</label>
					{{ form.attendance }}
				</div>
				<div class="form-group warn">
					<label for="net" class="control-label">Net</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.net }}
					</div>
				</div>
				<div class="form-group factor">
					<label for="id_payout" class="control-label">Payout</label>
					<span class="help-inline">(max. payout: <span id="max_payout"></span>)</span>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.payout }}
					</div>
				</div>
				<div class="form-group warn">
					<label for="to_account" class="control-label">To account</label>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						{{ form.to_account }}
					</div>
				</div>
			</fieldset>
			<fieldset id="payment">
				<legend>Payout</legend>
				{{ payment_formset.management_form }}
				{{ payment_formset.non_form_errors.as_ul }}
				<table id="payment_formset" class="table table-striped table-condensed">
					<thead>
						<tr>
							<th>Member</th>
							<th>Amount</th>
							<th>Paid?</th>
						</tr>
					</thead>
					<tbody>
					{% for form in payment_formset.forms %}
						<tr>
							{{ form.id }}
							<td class="member">
								{{ form.member }}
							</td>
							<td class="amount">
								<div class="input-group">
									<span class="input-group-addon">$</span>
									{{ form.amount }}
								</div>
							</td>
							<td class="paid">
								{{ form.paid }}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</fieldset>
		</div>
	</div>
	<fieldset id="itemize" class="expenses collapse">
		<legend>Itemized Expenses</legend>
		{{ expense_formset.management_form }}
		{{ expense_formset.non_form_errors.as_ul }}
		<table id="expenses_formset" class="table table-striped">
			<thead>
				<tr>
					<th>Payee</th>
					<th>Category</th>
					<th>Amount</th>
					<th>Check #</th>
					<th>Notes</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
			{% for form in expense_formset.forms %}
				<tr>
					{{ form.id }}
					<td>{{ form.payee }}</td>
					<td class="category">{{ form.category }}</td>
					<td class="expense-amount">{{ form.amount }}</td>
					<td>{{ form.check_no }}</td>
					<td>{{ form.notes }}</td>
					<td>{{ form.DELETE }}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		<button type="button" id="add_expense_rows" class="btn btn-sm btn-default pull-right"><i class="fa fa-plus"></i> Add a row</button>
	</fieldset>
	<button type="submit" class="btn btn-block btn-lg btn-primary">Save</button>
</form>	
{% endblock %}
