{% extends 'base_fidouche.html' %}
{% load custom_tags %}
{% load humanize %}
{% block content %}
	<h2>Gigs in {{ year }}</h2>
	<p><em>There are {{ this_years_gigs|length }} gigs in the database for this year.</em></p>
	{% comment graph here %}
		<div class="row">
			<div class="col-md-6">
				<div id="net_by_month"></div>
			</div>
		</div>
	{% endcomment %}
	<table class="table table-striped table-bordered datatable">
		<thead>
			<tr>
				<th>Sort Date</th>
				<th>Date</th>
				<th>Venue</th>
				<th>Attendance</th>
				<th>Gross</th>
				<th>Commission</th>
				<th>Total Expenses</th>
				<th>Net</th>
			</tr>
		</thead>
		<tbody>
		{% for gig in this_years_gigs %}
			<tr>
				<td>{{ gig.date|date:"Ymd" }}</td>
				<td><a href="{% url 'gig_finances' gig.id %}">{{ gig.date|date:"n/j/y" }}</a></td>
				<td><a href="{% url 'gig_finances' gig.id %}">{{ gig.venue }}</a> {% if not gig.public %}<span class="label label-success">private</span>{% endif %}</td>
				<td>{% if gig.attendance %}{{ gig.attendance|intcomma }}{% else %}--{% endif %}</td>
				<td>{% if gig.gross %}${{ gig.gross|intcomma }}{% else %}--{% endif %}</td>
				<td>{% if gig.commission %}${{ gig.commission|intcomma }} <small>({{ gig.commission_percentage }}%)</small>{% else %}0{% endif %}</td>
				<td>{% if gig.total_expenses > 0 %}${{ gig.total_expenses }} <i class="fa fa-list-ul expense-detail-toggle" data-toggle="collapse" data-target="#gig{{ gig.id }}_expenses"></i>
					<div id="gig{{ gig.id }}_expenses" class="collapse">
						<table class="table table-condensed expense-details">
							<tr><th>Sound:</th><td>${{gig.sound_cost|intcomma}}</td></tr>
							<tr><th>Ears:</th><td>${{gig.in_ears_cost|intcomma}}</td></tr>
							<tr><th>Print/Ship:</th><td>${{gig.print_ship_cost|intcomma}}</td></tr>
							<tr><th>Ads:</th><td>${{gig.ads_cost|intcomma}}</td></tr>
							<tr><th>Other:</th><td>${{gig.other_cost|intcomma}}</td></tr>
						</table>
					</div>
					{% else %}0{% endif %}
				</td>
				<td>{% if gig.net %}${{ gig.net|intcomma }}{% else %}--{% endif %}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
{% block require_js %}
<script>
	require(['{{ STATIC_URL }}global/js/common.js'], function () {
		require(['datatables','datatables_bs3']);
	});
</script>
{% endblock %}
