<!DOCTYPE html>
<html>
    <head>
        <title>Foreverland | Venues</title>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ STATIC_URL }}global/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-57-precomposed.png">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <script type="text/javascript" src="{{ STATIC_URL }}global/js/lib/jquery.js"></script>
        <style>
            html, body, #venue_map {
                height: 100%;
                margin: 0px;
                padding: 0px
            }
            #panel {
                position: absolute;
                top: 15px;
                left: 50%;
                margin-left: -135px;
                z-index: 5;
                background-color: rgba(255,255,255,.8);
                padding: 5px 10px;
            }
        </style>

    </head>
    <body>
        <div id="panel" class="form-inline">
            <div class="checkbox">
                <label for="markers">
                    <input id="markers" type="checkbox" checked="checked"> Markers
                </label>
            </div>
            <div class="checkbox">
                <label for="heatmap">
                    <input id="heatmap" type="checkbox"> Heatmap
                </label>
            </div>
        </div>
        <div id="venue_map"></div>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ maps_key }}&libraries=visualization&sensor=false"></script>
        <script>
            var map, heatmap, venues;
            var venuePoints = [];
            var markers = [];
            var netData = [];
            function fetchVenueData(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'venue_map_data' %}",
                    dataType: 'json',
                    cache: true,
                    success: function(data) {
                        venues = data;
                        initialize();
                    },
                    error: function(xhr, status, err) {
                        console.error(xhr, status, err);
                    }
                });
            }
            function windowContent(i){
                var v = venues[i];
                var img = v.image ? '<img src="' + v.image + '" width="36" /><br>' : '';
                var show_str = v.shows.length > 1 ? 'shows' : 'show';
                return img + '<strong>' + v.name + '</strong><br>' + v.city + ', ' + v.state + '<br><strong>' + v.shows.length + '</strong> ' + show_str + ' — $' + v.net_display + '<br><small>' + v.shows.join(', ') + '</small>';
            }
            function initialize() {
                var mapOptions = {
                    zoom: 5,
                    center: new google.maps.LatLng(39.833333,-98.583333),
                    mapTypeId: google.maps.MapTypeId.TERRAIN
                };
                map = new google.maps.Map(document.getElementById('venue_map'), mapOptions);
                var infowindow = new google.maps.InfoWindow({maxWidth: 300});
                var marker, i;
                for (i = 0; i < venues.length; i++) {
                    var venue = venues[i];
                    var point = new google.maps.LatLng(venue.coordinates[0], venue.coordinates[1]);
                    venuePoints.push(point);
                    marker = new google.maps.Marker({
                        position: point,
                        map: map
                    });
                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                        return function() {
                            infowindow.setContent(windowContent(i));
                            infowindow.open(map, marker);
                        }
                    })(marker, i));
                    weightedLocation = {
                        location: point,
                        weight: venue.net >= 0 ? venue.net : 0
                    }
                    markers.push(marker);
                    netData.push(weightedLocation);
                }
                pointArray = new google.maps.MVCArray(venuePoints);
                heatmap = new google.maps.visualization.HeatmapLayer({
                  data: netData,
                  maxIntensity: 60000,
                  radius:20,
                  opacity:.9
                });
            }
            function toggleHeatmap(state) {
                var mapstate = state ? map : null;
                heatmap.setMap(mapstate);
            }
            function toggleMarkers(state) {
                if(state){
                    for( var i = 0, n = markers.length; i < n; ++i ) {
                        markers[i].setMap(map);
                    }
                }else {
                    for( var i = 0, n = markers.length; i < n; ++i ) {
                        markers[i].setMap(null);
                    }
                }
            }
            $('#panel #markers').on('change', function(e){
                toggleMarkers($(this).is(':checked'));
            });
            $('#panel #heatmap').on('change', function(e){
                toggleHeatmap($(this).is(':checked'));
            });
            $(window).load(fetchVenueData());


        </script>
    </body>
</html>