<!DOCTYPE html>
<html>
    <head>
        <title>Foreverland | Venues</title>

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="{{ STATIC_URL }}global/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}global/images/ico/apple-touch-icon-57-precomposed.png">

        <link href="{{ STATIC_URL }}global/css/fidouche.css" rel="stylesheet">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

        <script type="text/javascript" src="{{ STATIC_URL }}global/js/lib/modernizr.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            html, body, #venue_map {
                height: 100%;
                margin: 0px;
                padding: 0px
            }
        </style>

    </head>
    <body>
        <div id="venue_map"></div>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script>
            function initialize() {
            var venues = [];
            var venuePoints = []
            {% for venue in venues %}
                venues.push(['<img src="/uploads/{{ venue.venue_image }}" width="36" /><br><strong>{{ venue }}</strong><br>{{ venue.city }}, {{ venue.state }}<br><strong>{{ venue.shows.all|length }}</strong> show{{ venue.shows.all|pluralize }}<br><small>{% for show in venue.shows.all %}{{ show.date|date:"m/d/y" }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>',
                    {{ venue.ltlng}}, {{ forloop.counter }}]);
            {% endfor %}
            var mapOptions = {
                zoom: 6 ,
                center: new google.maps.LatLng(37.7577,-122.4376),
                mapTypeId: google.maps.MapTypeId.TERRAIN
            };
            var tourMap = new google.maps.Map(document.getElementById('venue_map'), mapOptions);
            var infowindow = new google.maps.InfoWindow({maxWidth: 300});
            var bounds = new google.maps.LatLngBounds();
            var marker, i;
            for (i = 0; i < venues.length; i++) {
                var venue = venues[i];
                var point = new google.maps.LatLng(venue[1], venue[2]);
                venuePoints.push(point);
                marker = new google.maps.Marker({
                    position: point,
                    map: tourMap
                });
                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                    return function() {
                        infowindow.setContent(venues[i][0]);
                        infowindow.open(tourMap, marker);
                    }
                })(marker, i));
                bounds.extend(point);
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);

        </script>
    </body>
</html>