<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}Foreverland{% endblock %}</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global/css/main.css">
        {% block header_includes %}{% endblock %}
    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block topnav %}
            {% include 'fragments/navbar.html' with fixed='true' %}
        {% endblock %}
        {% block body %}{% endblock %}
        <footer>
            {% include 'fragments/footer.html' %}
        </footer>
        <script type="text/javascript" src="{{ STATIC_URL }}global/js/lib/require-jquery.js"></script>
        {% block require_js %}{% endblock %}    
    </body>
</html>
