<!DOCTYPE html>

<html>
    <head>
        <title>{% block title %}ForeverlandSF{% endblock %}</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}global/css/main.css">

        {% block header_includes %}{% endblock %}

    </head>

    <body class="{% block bodyclass %}{% endblock %}">
        {% block topnav %}
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Foreverland</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shows</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#">Songs</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Quotes</a></li>
                        <li><a href="#">Booking</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
        <footer>
            {% include 'fragments/footer.html' %}
        </footer>

        <script src="{{ STATIC_URL }}global/js/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        {% block footer_scripts %}{% endblock %}
    
    </body>
</html>
