{% load compress %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <title>{% block title %}Django Project{% endblock %}</title>

        <meta name="keywords" content="" />
        <meta name="description" content="{% block meta_description %}{% endblock %}" />
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0;" />

        {% compress css %}
            <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}global/bootstrap/less/bootstrap.less">
            <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}global/bootstrap/less/responsive.less">
            <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}global/less/main.less">
        {% endcompress %}

        {% compress js %}
            <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}global/js/jquery.js"></script>
            <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}global/bootstrap/js/bootstrap-dropdown.js"></script>
            <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}global/bootstrap/js/bootstrap-modal.js"></script>
            <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}global/bootstrap/js/bootstrap-alert.js"></script>
            <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}global/bootstrap/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" charset="utf-8" src="{{ STATIC_URL }}django_common/js/ajax_form.js"></script>
        {% endcompress %}

        {% block header_includes %}{% endblock %}
    </head>

    <body>
        {% include 'fragments/messages.html' %}

        <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="fill">
                <div class="container">
                    <a class="brand" href="{% url 'homepage' %}">Django Base Project</a>
                </div>
            </div>
        </div>
        </div>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        <footer>
            {% include 'fragments/footer.html' %}
        </footer>

    {% block footer_scripts %}{% endblock %}
    </body>
</html>
