{% extends 'interior.html' %}
{% load custom_tags %}

{% block content %}
	<h2>Upcoming Shows</h2>
        <ul class="shows">
        {% for show in shows %}
            <li>
            	{% if show.venue.website %}<a href="http://{{ show.venue.website }}">{% endif %}<img src="../uploads/{{show.venue.venue_image}}">{% if show.venue.website %}</a>{% endif %}
            	<div class="show">
            		<h4>
            			{% if show.ticket_url %}
            				<a href="{{ show.ticket_url }}" target="_blank" rel="tooltip" title="Buy Tickets">
            					{{ show.date|date:"M. j" }} at {{ show.venue }}
        					<span class="glyphicon glyphicon-shopping-cart"></span></a>
        				{% else %}
        					{{ show.date|date:"M. j" }} at {{ show.venue }}
    					{% endif %}
        				<small class="pull-right">{{ show.date|date:"g:i a"}}</small>
        			</h4>
        			{% if show.ages %}{{ show.ages }}<br>{% endif %}
        			{% if show.doors_time %}Doors at {{ show.doors_time }}<br>{% endif %}
        			{% if show.opener %}Opener: {{ show.opener }}<br>{% endif %}
        			{% if show.notes %}<small>{{ show.notes }}</small><br>{% endif %}
            		<a href="#" class="detail-launch" data-target="#show_detail_modal" data-toggle="modal" data-showurl="{% url 'show_modal' show.id %}">Details <span class="glyphicon glyphicon-new-window"></span></a>
            	</div>
            </li>
        {% endfor %}
    	</ul>
    	<!-- Detail Modal -->
		<div id="show_detail_modal" class="modal fade">
		</div>
{% endblock %}
{% block require_js %}
	 <script type="text/javascript">
	    require(['{{ STATIC_URL }}global/js/common.js'], function () {
	        require(['shows']);
	    });
	</script>
{% endblock %}