{% extends 'base.html' %}
{% block body %}
<video id="video_background" preload="true" autoplay="true" loop="true" loop="loop" muted="muted" volume="0">
	<source src="{{ STATIC_URL }}global/video/flbg.webmsd.webm" type="video/webm">
	<source src="{{ STATIC_URL }}global/video/flbg.oggtheora.ogv" type="video/ogg ogv"> 
	<source src="{{ STATIC_URL }}global/video/flbg.mp4.mp4" type="video/mp4"> 
</video>
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="video-wrap">
				<div style="width:100%; height:100%; background:#333;position:relative;"><h4 style="position:absolute;top:43%;left:0;right:0;text-align:center; padding:20px; background:#444">Video</h4></div>
				<!-- <iframe width="100%" height="100%" src="//www.youtube.com/embed/wS_1L0VIp-Q?rel=0" frameborder="0" allowfullscreen></iframe> -->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="promo-shot">
				<div class="off"><img src="{{ STATIC_URL }}global/images/promoshot-off.jpg" /></div>
				<div class="on"><img src="{{ STATIC_URL }}global/images/promoshot-on.jpg" /></div>
			</div>
		</div>
	</div>
</div>
		<!-- <div class="row background">
			<div class="span3">
				<h3><i class="icon-sun"></i> Sunshine</h3>
				<p><strong>Odio est labore iPhone</strong>, blog photo booth tousled selvage cray seitan single-origin coffee bespoke. Nisi elit fixie, vinyl bespoke meggings laborum commodo duis Portland tumblr vegan gluten-free. Hella tattooed ethical proident esse, narwhal roof party Odd Future mlkshk put a bird on it cray deserunt dolore seitan next level. Vegan pickled minim esse enim, assumenda irure odio umami craft beer Etsy consequat master cleanse meggings narwhal. Duis YOLO deep v laborum. Trust fund farm-to-table lo-fi, next level wolf scenester quis try-hard eiusmod. Placeat tempor cillum asymmetrical, cliche fashion axe pickled brunch. <a href="#">And a link.</a></p>
			</div>
			<div class="span3">
				<h3><i class="icon-moon"></i> Moonlight</h3>
				<p>Ennui officia disrupt fingerstache. Church-key butcher cillum, +1 sustainable polaroid duis craft beer next level authentic irony jean shorts. Aliquip cillum Banksy aute fashion axe id, raw denim 8-bit. DIY fingerstache pickled yr aute lomo, Brooklyn craft beer cred sartorial. Banjo sustainable polaroid, sapiente bitters fanny pack thundercats. Meggings organic anim, shoreditch food truck tousled plaid pop-up vegan chambray street art 3 wolf moon. Lomo delectus craft beer, dolore odio keytar enim do incididunt beard.</p>
			</div>
			<div class="span3">
				<h3><i class="icon-smile"></i> Good Times</h3>
				<p>Sriracha you probably haven't heard of them twee cray id officia, nostrud bitters vegan fanny pack put a bird on it. Meggings umami leggings, Wes Anderson mollit sapiente High Life anim. Pinterest intelligentsia narwhal, semiotics swag flexitarian viral consectetur roof party mlkshk keytar 90's enim literally selfies. Pickled ugh letterpress seitan veniam. Consequat kale chips authentic, YOLO farm-to-table bitters ethnic sriracha. Craft beer McSweeney's dreamcatcher ethical seitan. Vice magna Tonx, iPhone art party kitsch letterpress forage food truck Cosby sweater you probably haven't heard of them pug chillwave aliqua salvia. <a href="#">And a link.</a></p>
			</div>
			<div class="span3">
				<h3><i class="icon-thumbs-up"></i> Boogie</h3>
				<p>Odd Future single-origin coffee Williamsburg direct trade whatever asymmetrical chillwave, ullamco commodo DIY flannel intelligentsia wayfarers jean shorts. Wes Anderson flexitarian selvage post-ironic, lomo dolore incididunt fashion axe mollit. Commodo jean shorts scenester aliquip, cardigan 8-bit reprehenderit helvetica PBR Cosby sweater pariatur nesciunt american apparel Marfa. Ea laborum wayfarers Portland messenger bag. Occaecat put a bird on it typewriter VHS 3 wolf moon food truck. Williamsburg deep v Pinterest elit Neutra Marfa wayfarers ut, fanny pack messenger bag put a bird on it dolor viral Portland. Magna Cosby sweater messenger bag, mumblecore McSweeney's intelligentsia in veniam hella. <a href="#">And a link.</a></p>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h1>This is an h1 headline</h1>
				<h2>This is an h2 headline</h2>
				<h3>This is an h3 headline</h3>
				<h4>This is an h4 headline</h4>
			</div>
		</div> -->
	</div>
</div>
<!-- <div id="video_pattern"></div> -->
<script>
	$(document).ready(function(){
		var w = $(window);
		var tb = $('#topbrand');
		var tbh = tb.height();
		var ps = $('.promo-shot');
		var pso = ps.offset().top;
		var psh = ps.height() + w.height()/2;
		w.scroll(function(){
			$(this).scrollTop() > (pso - psh + w.height()) ? ps.addClass('in') : ps.removeClass('in')
			$(this).scrollTop() > (tbh) ? tb.addClass('af') : tb.removeClass('af');
		});
	});
</script>
{% endblock %}
